
@{
                /**/

                ViewBag.Title = "CTSinhVien";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
        <a href="admin-sinhvien.html">Danh sách sinh viên</a>
    </li>
    <li class="breadcrumb-item">Chi tiết sinh viên</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-5">
    <div class="card-header">
        Thông tin sinh viên
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img src="http://placehold.it/200x200">
            </div>
            <div class="col-md-8">
                <label>Tên:</label><p class="pl-1" style="display: inline;">Name</p><br>
                <label>Giới tính:</label><p class="pl-1" style="display: inline;">Gender</p><br>
                <label>Địa chỉ:</label><p class="pl-1" style="display: inline;">Address</p><br>
                <label>SĐT:</label><p class="pl-1" style="display: inline;">Phone number</p><br>
                <label>Quên quán:</label><p class="pl-1" style="display: inline;">QQ</p><br>
                <label>Khoa:</label><p class="pl-1" style="display: inline;">Khoa</p><br>
                <label>Lớp:</label><p class="pl-1" style="display: inline;">Class</p><br>
                <label>Khoá:</label><p class="pl-1" style="display: inline;">Khoa</p><br>
                <label class="pb-5">Hộ khẩu:</label><p class="pl-1" style="display: inline;">HK</p><br>
                @Html.ActionLink("Sửa", "SuaSinhVien", "Admin", null, new { @class = "btn btn-success" })
                <a class="btn btn-danger text-white text-white" data-toggle="modal" data-target="#deleteModal">Xóa</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-5">
    <div class="card-header">
        <div class="float-left">
            <i class="fas fa-table"></i>Danh sách phiếu
        </div>
        <div class="float-right">

        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="select-all"></th>
                        <th>Mã phòng</th>
                        <th>Mô tả</th>
                        <th>Giá</th>
                        <th>Ngày đăng</th>
                        <th>Số người đăng ký</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><input type="checkbox" class="select-all"></th>
                        <th>Mã phòng</th>
                        <th>Mô tả</th>
                        <th>Giá</th>
                        <th>Ngày đăng</th>
                        <th>Số người đăng ký</th>
                        <th>Chức năng</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td><input type="checkbox" class="checkbox"></td>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td><a class="btn btn-info m-1" href="cnt-room-edit.html">Sửa</a><a class="btn btn-danger text-white m-1" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox"></td>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td><a class="btn btn-info m-1" href="cnt-room-edit.html">Sửa</a><a class="btn btn-danger text-white m-1" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox"></td>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>2009/01/12</td>
                        <td><a class="btn btn-info m-1" href="cnt-room-edit.html">Sửa</a><a class="btn btn-danger text-white m-1" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox"></td>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2012/03/29</td>
                        <td><a class="btn btn-info m-1" href="cnt-room-edit.html">Sửa</a><a class="btn btn-danger text-white m-1" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox"></td>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td><a class="btn btn-info m-1" href="cnt-room-edit.html">Sửa</a><a class="btn btn-danger text-white m-1" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox"></td>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>2012/12/02</td>
                        <td><a class="btn btn-info m-1" href="cnt-room-edit.html">Sửa</a><a class="btn btn-danger text-white m-1" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox"></td>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>59</td>
                        <td>2012/08/06</td>
                        <td><a class="btn btn-info m-1" href="cnt-room-edit.html">Sửa</a><a class="btn btn-danger text-white m-1" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox"></td>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                        <td>2010/10/14</td>
                        <td><a class="btn btn-info m-1" href="cnt-room-edit.html">Sửa</a><a class="btn btn-danger text-white m-1" data-toggle="modal" data-target="#deleteModal">Xóa</a></td>
                    </tr>



                </tbody>
            </table>
        </div>
    </div>

