
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        Trang chủ
    </li>
</ol>
<!-- DataTables Example -->
<div class="card mb-5">
    <div class="card-header">
        Thông báo của nhà trường
    </div>
    <div class="card-body">

    </div>
</div>

