@model QLSVNgoaiTru.Models.phieudangkingoaitru

@{
    /**/

    ViewBag.Title = "Dkngoaitru";
    Layout = "~/Views/Shared/_LayoutDangky.cshtml";
}

@using (Html.BeginForm("Dkngoaitru", "Sinhvien", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h1 class="mt-5 mb-3">
        Đăng ký ngoại trú
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("Home", "Index", "Home")
        </li>
        <li class="breadcrumb-item active">Đăng ký ngoại trú</li>
    </ol>
    <div>
        <div class="row">
            <div class="col-lg-8 mb-4">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Địa chỉ ngoại trú:</label>
                            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Đăng ký</button>
                </form>
            </div>

        </div>
    </div>
    
}

    <div class="mb-1">  
        @Html.ActionLink("Về trang chủ", "Index", "Home")
    </div>
