@model QLSVNgoaiTru.Models.phieudangkitimphongtro

@{
    ViewBag.Title = "Dktimphongtro";
    Layout = "~/Views/Shared/_LayoutDangky.cshtml";
}

@using (Html.BeginForm("Dktimphongtro", "Sinhvien", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h1 class="mt-5 mb-3">
        Đăng ký tìm phòng trọ
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("Home", "Index", "Home")
        </li>
        <li class="breadcrumb-item active">Đăng ký tìm phòng trọ</li>
    </ol>
    <div class="row">
        <div class="col-lg-8 mb-4">
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Vị trí phòng trọ mong muốn:</label>
                        @Html.DropDownListFor(model => model.Maquanhuyen, new SelectList(ViewBag.quanhuyen, "Maquanhuyen", "Tenquanhuyen"), new { htmlAttributes = new { @class = "form-control" } })
                        <p class="help-block"></p>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Đăng ký</button>
            </form>
        </div>

    </div>

}

<div class="mb-1">
    @Html.ActionLink("Về trang chủ", "Index","Home")
</div>


